body {
  margin: 0;
}

p {
  margin: 0.5rem;
}

button {
  cursor: pointer;
}

.App {
  font-size: calc(10px + 2vmin);
  background-color: #e2e2e2;
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: auto;
}

.not-liked {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 2rem;
  margin: 0.5rem;
}

.liked {
  font-size: 1rem;
  /* background-color: green; */
  border: none;
  border-radius: 2rem;
  fill: green;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}

.like-icon {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.love-icon {
  cursor: pointer;
}
